<nav class="pagination" role="navigation">
    {{#if prev}}
      <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
    {{else}}
      {{!-- to get the flex spacing correct you need the hidden content --}}
      <span class="newer-posts hidden">Newer Posts</span>
    {{/if}}

    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a>
    {{/if}}
</nav>