{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{navigation}}
{{#post}}

{{!--
{{#if feature_image}}
<figure class="post-feature-image" style="background-image: url({{feature_image}})">
</figure>
{{/if}}
--}}
<div class="main-container">
	<div class="title-block">
		<h1 class="post-title">{{title}}</h1>
		<span class="post-date">
			{{date published_at format="DD MMMM YYYY"}}
		</span>
	</div>
	<div class="post-content">
	{{content}}
	</div>
</div>

{{/post}}